.App {
  text-align: center;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 3fr 1fr 0.2fr;
}

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */

.App-link {
  color: #61dafb;
}

#apiref {

  grid-column: 1/3;
  grid-row: -1;
  background-color: #fe9658;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  border-top: 1px solid black;
  #footer_content {
    padding: 5px;
    a {
      text-decoration: none;
      color: #0169a7;
      font-weight: 700;
    }
  }
}
#navbar_content {
  background-color: #fe9658;
  grid-column: 1/3;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 25% auto;
  & #buttons {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-self: center;
  }
  & #logo_and_text {
    margin: 10px;
    padding: 5px;
    padding-right: 15px;
    & a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 700;
      font-size: larger;
    }
    & #navbar_logo {
      width: 100px;
    }
  }
}

.formContent {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

#discord {
  background-color: #7289da;
  color: #ffffff;
  border-radius: 5px;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 15px;
}

#info {
  margin: 0 30px 0 30px;
  font-size: 20px;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  & div {
    background-color: #0169a7;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
  }
  & #informationsAboutCountry {
    grid-column: 1/2;
  }
  & #weatherConditions {
    grid-column: 2/3;
    background-color: #0169a7;
    & img {
      margin-top: 15px;
      background-color: whitesmoke;
      border-radius: 50px;
    }
  }
  & #airQuality {
    grid-column: 3/4;
  }
}

.spec {
  padding: 10px;
  & .specTitle {
    font-size: larger;
    font-weight: 600;
    margin-right: 2;
  }
}
