.App {
  text-align: center;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */

.App-link {
  color: #61dafb;
}

#apiref {
  position: absolute;
  background-color: #fe9658;
  text-align: center;
  width: 100%;
  bottom: 0;
  border-top: 1px solid black;
  #footer_content {
    padding: 5px;
    a {
      text-decoration: none;
      color: #0169a7;
      font-weight: 700;
    }
  }
}

#mainnavbar {
  position: sticky;
  background-color: #fe9658;
  text-align: center;
  width: 100%;
  top: 0;
  #navbar_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    & #logo_and_text{
        justify-self: start;
        padding: 5px;
        padding-right: 15px;
        border-right: 2px dashed #0169a7;
        & a {
            text-decoration: none;
            color: #0169a7;
            font-weight: 700;
          }
        & #navbar_logo {
            width: 100px;
          }
    }
  }
}

.formContent{
    display: flex;
    justify-content: center;
    align-items: center;
}